*{
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
}

body {
  margin: 0;
  font-family: 'Montserrat', 'Roboto', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.wrapper {
  display: flex;
  max-width: 1000px;
  overflow: auto;
}


.columns {
  font-size: 14px;
  min-width: 204px;
  max-width: 230px;
  flex: 0 0 100%;

  li {
    padding: 7px 12px;
    font-weight: 400;

    &:first-of-type {
      display: flex;
      align-items: center;
      height: 240px;
      background-color: transparent !important;
    }

    &:nth-of-type(2n) {
      background: #f4f2ee;
    }
  }
}
